$cellSize: 1vw;

body {
  font-size: 1em;
  line-height: 1.65;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  font-size: $cellSize;
}

.letter-grid {
  display: grid;
  margin: 1vw;
}

.grid-cell {
  display: flex;
  align-items: center;
  text-align: center;
  width: $cellSize;
  height: $cellSize;
  transition: transform 0.2s;
}
.grid-cell:hover {
  transform: scale(1.5);
}

.words {
  display: flex;
  flex-direction: column;
}

.word {
  display: flex;
  margin: 2vw;
}
